.loader {
  @include flexRow;
  @include justifyContent(center);
  @include alignItems(center);
  height: fit-content;
  background-color: $loaderBgColor;

  .tech_icon {
    animation: fade-in-out 1s infinite;
  }
}