.loader {
  font-size: 20px;
  font-weight: 600;
  color: $blackColor;
}

.about_page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 20px;

  .header {
    @include textAlign(center);
    margin-bottom: 40px;

    h1 {
      font-size: 2.5em;
      color: $textColor;
    }
  }

  .bio_section {
    @include flexRow;;
    @include alignItems(flex-start);
    margin-bottom: 20px;

    .profile_image {
      flex: 0 0 auto;
      margin-right: 20px;
      
      .profile_image {
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }

    .bio {
      flex: 1;
      background-color: $aboutBgColor;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      p {
        margin: 0;
        font-size: 1.2em;
        line-height: 1.6;
      }
    }
  }

  .summary {
    background-color: $aboutBgColor;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
      margin-top: 0;
      font-size: 1.8em;
      color: $textColor;
    }

    ul {
      padding-left: 20px;

      li {
        font-size: 1.1em;
        line-height: 1.6;
      }
    }
  }
}

 // media query for mobile devices
 @media (max-width: 768px) {
  .about_page {
    @include flexColumn;
    @include alignItems(center);

    .bio_section {
      @include flexColumn;
      @include alignItems(center);
      
      .profile_image {
        margin-right: 0;
        margin-bottom: 10px;
      }
  
      .bio {
        width: 100%;
        padding: 20px;
      }
    }
  
    .summary {
      width: 100%;
      padding: 20px;
    }
  }
}
